* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: bold;
  font-size: 33px;
  line-height: 105%;
  background: #fefae0;
  /*  挑個顏色吧 https://coolors.co/palettes/trending */
}

.btn {
  color: #fffffff2;
  margin: 1px;
  padding: 10px 30px;
  outline: none;
  background-color: #27ae60;
  border: none;
  border-radius: 5px;
  /* box-shadow: 0 9px #95a5a6; */
}

.btn:hover {
  background-color: #2ecc71;
}

.btn:active {
  background-color: #2ecc71;
  transform: translateY(4px);
}

h1 {
  color: #000000cc;
}
